$light-black: #1E1E1E;
$dark-black: #131313;
$vue-green: #009688;

.app-content.dark-mode {
    background-color: $light-black;
    color: #fff;

    .checkbox {
        &:before {
            border-color: #696969;
        }
        &:checked {
            &:before {
                border-color: $vue-green;
                border-top-style: none;
                border-right-style: none;
            }
        }

        &:after {
            background-color: $dark-black;
        }
    }

    input {
        background-color: $dark-black;
        color: #fff;
    }

    .text-content:disabled {
        background-color: $light-black;
        color: #fff;
        opacity: .6;
    }
}
