$light-black: #1E1E1E;
$dark-black: #131313;
$vue-green: #009688;
$white: #fff;

.app-content.dark-mode {
    background-color: $light-black;
    color: $white;

    .checkbox {
        &:before {
            border-color: #696969;
        }
        &:checked {
            &:before {
                border-color: $vue-green;
                border-top-style: none;
                border-right-style: none;
            }
        }

        &:after {
            background-color: $dark-black;
        }
    }

    input {
        background-color: $dark-black;
        color: $white;
    }

    .text-content-wrapper {
        input[type='text'] {
            &:disabled {
                background-color: $light-black;
                opacity: .6;
            }
        }
    }
}
